.footer {
    padding: 55px 0;
    background-color: #1B1D1F;
    margin-top: 110px;

    .links {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 30px;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            li {
                a {
                    display: block;
                    color: $white;
                    margin: 0 15px;
                }
            }
        }
    }

    .copyright {
        p {
            padding-top: 30px;
            color: $white;
            margin: 0;
            text-align: center;
        }
    }
}