@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Color;
$primary-color: #4229EA;
$hover-color : #4229EA;
$bColor: #000;
$white : #ffffff;
$black : #000000;
$gray-5: #EDEFF0;
$gray-1: #737F89;
$gray-light: #464B5E;


// Body;
$bodyFont: 'Montserrat', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .4s linear;
